body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 99;
}

.navigation a {
	position: relative;
	font-size: 1.1em;
	color: green;
	text-decoration: none;
	font-weight: 500;
	margin-left: 40px;
}

.navigation a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -6px;
	width: 100%;
	height: 3px;
	background: green;
	border-radius: 5px;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform .5s;
}

.navigation a:hover::after {
	transform-origin: left;
	transform: scaleX(1);
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    display: block;
    margin: 5px 0;
    color: #555;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #218838;
}

.container {
    
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

.table th {
    background-color: #28a745; /* Color de fondo para el encabezado */
    color: white; /* Color del texto en el encabezado */
}

.table tr:nth-child(even) {
    background-color: #f2f2f2; /* Color de fondo para filas pares */
}

.table tr:hover {
    background-color: #e2e2e2; /* Color de fondo al pasar el ratón sobre una fila */
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 0 5px;
    cursor: pointer;
}

.btn-success {
    background-color: #28a745; /* Color para el botón "Agregar Nuevo" */
}

.btn-warning {
    background-color: #ffc107; /* Color para el botón "Editar" */
}

.btn-danger {
    background-color: #dc3545; /* Color para el botón "Remove" */
}

.btn:hover {
    opacity: 0.8; /* Efecto de hover en los botones */
}

