<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlador</servlet-name>
        <servlet-class>com.servlet.controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorResidente</servlet-name>
        <servlet-class>com.servlet.controladorResidente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorAreasComunes</servlet-name>
        <servlet-class>com.servlet.controladorAreasComunes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorVivienda</servlet-name>
        <servlet-class>com.servlet.controladorVivienda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorAlquiler</servlet-name>
        <servlet-class>com.servlet.controladorAlquiler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlador</servlet-name>
        <url-pattern>/controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorResidente</servlet-name>
        <url-pattern>/controladorResidente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorAreasComunes</servlet-name>
        <url-pattern>/controladorAreasComunes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorVivienda</servlet-name>
        <url-pattern>/controladorVivienda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorAlquiler</servlet-name>
        <url-pattern>/controladorAlquiler</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
